<div class="pages-wrap">
  <div class="pages-body">
    <!--<sidebar></sidebar>-->

    <div class="pages-content">
      <div class="row">
        <div class="col-lg-6">
          <div class="pages-top"></div>
          
          <div class="form-group">
            <label for="name">Name</label>
            <div class="pages-top"></div>
            <span id="nerror"></span>
            <input type="text" class="form-control" id="userID" aria-describedby="usernameHelp"
              placeholder="Enter Name" [(ngModel)]="response.name">
            
          </div>
          <div class="pages-top"></div>

          <div class="form-group">
            <label for="email">Email</label>
            <div class="pages-top"></div>
            <span id="eerror"></span>
            <input type="text" class="form-control" id="userID" aria-describedby="usernameHelp"
              placeholder="Enter Email" [(ngModel)]="response.email">
            
          </div>
          <div class="form-group">
            <label for="email">Feedback</label>
            <div class="pages-top"></div>
            <input type="radio" id="Great" name="Feedback" value="great" (click)="radioClicked('Great');" [checked]="response.feedback=='Great'" >
            <label for="male">Great</label><br>  
            <input type="radio" id="Okay" name="Feedback" value="okay" (click)="radioClicked('Okay');" [checked]="response.feedback=='Okay'">
            <label for="female">Okay</label><br>
            <input type="radio" id="NotGood" name="Feedback" value="notGood" (click)="radioClicked('Not good');" [checked]="response.feedback=='Not good'"  >
            <label for="other">Not good</label>
          </div>
          <div class="pages-top"></div>

          <div class="form-group">
            <label>Comment</label>            
            <span id="eerror"></span>
            <div class="pages-top"></div>
            <input type="text" class="form-controlComment" id="userID" aria-describedby="usernameHelp"
              placeholder="Enter Comment" [(ngModel)]="response.comment">            
          </div>
          <div class="pages-top"></div>

          <div class="form-group">
            <button (click)="submitClicked();">Submit</button>
          </div>

        </div>
      </div>


         

    </div>

  </div>
</div>