.pages-top {
    height: 25px;
}

.pages-down {
    position: relative;
    min-width: 150px;
    margin: 0 5px 0 5px;
    background-color: #54b948;
    color: #ffffff;
}


.pages{
    position: relative;
    min-width: 300px;
    border: none;
    font-weight: 400;
    height: 80px;
    background: black;
}